body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0072C6;
  font-family: sans-serif;
  color: #0072C6;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  color: #0072C6;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  margin-top: 30px;
  color: #0072C6;
}

.square {
  width: 100px;
  height: 100px;
  font-size: 48px;
  text-align: center;
  line-height: 100px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  color: #0072C6;
}

.square:hover {
  cursor: pointer;
  background-color: #eee;
  color: #0072C6;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  color: #0072C6;
}

.score {
  font-size: 18px;
  color: #555;
}

.x {
  color: #f00;
}

.o {
  color: #00f;
}
